html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
a .glyphicon {
    font-size: 20px;
}
.nav_menu.scroll-fixed {
    position: absolute;
    width: 100%;
    z-index: 2;
    left: 0;
}
.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2;
}
.nav-md .container.body .col-md-3.left_col {
    z-index: 3 !important;
}
.nav-sm .nav.side-menu li a {
    font-size: 12px;
}
.nav-sm .breadcrumb {
    padding: 8px 15px 10px 1px;
    margin-bottom: 0;
    margin-top: 50px;
}
.body-wrapper {
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}
.site-signup {
    text-align: center;
}

.site-signup .sign-up-form {
    width: 300px;
    margin: 0 auto;
}
.site-signup h1 {
    margin-bottom: 40px;
}

.site-signup .form-group .btn {
    width: 100%;
    margin-top: 8px;
}

.name-href {
    text-decoration: underline;
}

.name-href:hover {
    text-decoration: none;
}


.materials-p-list {
    border: 1px solid #bbb;
    padding: 10px;
    margin-bottom: 30px;
}

.materials-p-list ul {
    background: #fff;
    /*border: 2px solid #ddd;*/
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.materials-p-list ul li{
    list-style: none;
    padding: 7px 16px;
    border: 1px solid #ddd;
    margin-top: -1px;
}

.materials-p-list ul li:nth-child(even) {
    background: #eee;
}

.materials-p-list .material-name {
    width: 650px;
    display: inline-block;
    margin-right: 30px;
}

.materials-p-list .material-quantity {
    width: 160px;
    display: inline-block;
}

.materials-p-list .material-quantity .help-block {
    margin: 0;
}

.materials-p-list .material-quantity input {
    display: inline-block;
    width: 65px;
}

.select2-cont {
    width: 100%;
    max-width: 600px;
    float: left;
}

.cont-relative {
    position: relative;
}

.status-message {
    margin: 0;
    position: fixed;
    right: 4px;
    width: 300px;
    bottom: 4px;
    z-index: 2;
}

.inline-block {
    display: inline-block;
}

.btn-index-target {
    position: absolute;
    top: 7px;
    right: 0;
    margin: 0;
}

.display-none {
    display: none;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.calendar-block {
    width: 244px;
    margin: 8px auto 20px;
}

.cosmet-main-cont input[type="checkbox"] {
    width: 18px !important;
    height: 18px !important;
    margin-right: 3px !important;
    vertical-align: middle !important;
}

.add-button-cont {
    margin: 14px 0 20px;
}

.add-service-client-btn {
    position: absolute;
    top: -53px;
    right: -5px;
    padding: 4px 10px;
}
.statistic-date-block {
    text-align: center;
    padding: 2px 0 6px;
    border-bottom: 1px dashed;
    width: 220px;
    margin: 0 auto 13px;
}
@media screen and (max-width: 480px) {
    .add-button-cont .add-service-btn {
        margin: 0 auto 0;
        display: block;
    }
}
.logo-cosmet {
    background: url('/profi-icon.png') no-repeat center;
    background-size: 30px 30px;
    width: 36px;
    display: inline-block;
    position: relative;
    height: 36px;
    vertical-align: middle;
}
.nav-sm .logo-cosmet {
    vertical-align: top;
    background-size: 36px 36px;
    width: 42px;
    display: block;
    height: 42px;
}

.chart-cont {
    text-align: center;
}

#piechart {
    width:250px; height: 250px; margin: 0 auto;
}

.nav-sm .container.body .col-md-3.left_col {
    z-index: 10 !important;
}